body {
<<<<<<< HEAD
  margin: 20;
=======
  margin: 0;
>>>>>>> a2cd70d (Initialize project using Create React App)
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
<<<<<<< HEAD

a{
  text-decoration: none;
  color: aliceblue;
 font-weight: 600;
}
a:hover{
  color:rgb(176, 138, 13);
}
.main{
   display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
        padding: "20px"
        
}
.box{
      width: 550px;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(109, 106, 106);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
p{
  color: rgb(173, 170, 170);
  font-weight: 600;
}
=======
>>>>>>> a2cd70d (Initialize project using Create React App)
